body {
background-color: rgb(129, 234, 246);
}

#score{
font-size: 25px;
margin-left: 35px;
 font-family:Trattatello, fantasy ;
}

#time{
font-size: 25px; 
float:right;
margin-right: 35px;
font-family: Trattatello, fantasy;
}

h1{
font-family: Brush Script MT, Brush Script Std, cursive;
}